# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# executables
reversi-cl/reversi-cl
reversigp/reversigp

# tests
Testing/*
test/test_genotype

# libraries
reversi/libreversi.a
strategy/libstrategy.a
genetics/libgenetics.a
gothello/libgothello.a