# cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# pycache
**/__pycache__/*

# database
**/dp.sqlite3

# executables
reversi-cl/reversi-cl
reversigp/reversigp

# tests
Testing/*
test/test_genotype
test/test_genotype_to_phenotype_conversions
test/test_rsf

# libraries
reversi/libreversi.a
strategy/libstrategy.a
genetics/libgenetics.a
gothello/libgothello.a